.navbar {
  height: 70px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 5000;
  padding: 0 60px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.nav-logo {
  font-size: 22px;
  font-weight: 700;
  color: black;
}

/* ===============================
   NAVBAR
=================================*/

.navbar {
  height: 70px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 5000;
  padding: 0 60px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.nav-logo {
  font-size: 22px;
  font-weight: 700;
  color: black;
}

.nav-search {
  position: relative;
  flex: 1;
  max-width: 400px;
  margin: 0 30px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.nav-search input {
  width: 100%;
  padding: 8px 35px 8px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.login-btn {
  color: white;
  border: 1px solid black;
}

.login-btn:hover {
  background: #eef2ff;
}

.register-btn {
  background:white;
  color: white;
}

.register-btn:hover {
  background:black;
}

.nav-btn {
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
  background: white;
  color: black;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-btn:hover {
  background: #f3f4f6;
}

.nav-search {
  position: relative;
  flex: 1;
  max-width: 400px;
  margin: 0 30px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.nav-search input {
  width: 100%;
  padding: 8px 35px 8px 12px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
}

.category-section {
  overflow: visible;
}

.search-dropdown {
  position: fixed;   
  background: #212121 ;
  border-radius: 6px;
  z-index: 999999;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  max-height: 300px;
  overflow-y: auto;
}

.nav-user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  transition: 0.2s;
}

.nav-user-icon:hover {
  opacity: 0.7;
}

.search-item {
  padding: 10px 14px;
  cursor: pointer;
  flex-direction: row-reverse;
  display: flex;
  justify-content: space-between;
}

.search-item:hover {
  background: black;
}

.no-result {
  text-align: center;
  color: #777;
}

@media (max-width: 600px) {
  .navbar {
    padding: 0 20px;
  }

  .nav-logo {
    font-size: 18px;
  }

  .nav-btn {
    padding: 6px 14px;
    font-size: 13px;
  }
}

@media (max-width: 1024px) {

  .navbar {
    padding: 0 30px;
  }

  .nav-search {
    max-width: 300px;
  }

}

@media (max-width: 768px) {

  .navbar {
    padding: 0 20px;
  }

  .nav-search {
    display: none;   
  }

  .nav-buttons {
    gap: 8px;
  }

  .nav-btn {
    padding: 6px 12px;
    font-size: 13px;
  }

}
.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: black;
}

@media (max-width: 768px) {

  .nav-search {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .nav-buttons {
    position: fixed;
    top: 70px;
    right: -100%;
    background: white;
    width: 240px;
    height: 100vh;
    flex-direction: column;
    padding: 30px 20px;
    box-shadow: -5px 0 20px rgba(0,0,0,0.1);
    transition: right 0.3s ease;
    gap: 15px;
  }

  .nav-buttons.active {
    right: 0;
  }

}