.product-page-container {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  background: White;
  font-family: 'Roboto', sans-serif;
}

.product-page-card {
  display: flex;
  gap: 40px;
  max-width: 900px;  
  width: 100%;
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.product-page-card:hover {
  box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.product-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.product-image-main img {
  width: 100%;
  max-width: 350px;  
  border-radius: 10px;
  object-fit: contain;
  border: 1px solid #ddd;
  padding: 8px;
  background: #fafafa;
}

.product-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.product-title {
  font-size: 24px; 
  font-weight: 700;
  color: #111;
}

.product-rating {
  font-size: 14px;
  color: #ff9800;
  margin-top: -8px;
}

.product-price {
  font-size: 22px;
  font-weight: 700;
  color: #388e3c;
  margin: 8px 0;
}

.product-stock{
  font-size: 22px;
  font-weight: 700;
  color: red;
  margin: 8px 0;
}

.product-description {
  font-size: 15px;
  color: #555;
  line-height: 1.5;
}

.product-highlights h3 {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #333;
}

.product-highlights ul {
  list-style: disc;
  padding-left: 20px;
}

.product-highlights li {
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.product-actions {
  display: flex;
  gap: 12px;
  margin-top: 12px;
}

.add-to-cart-btn, .buy-now-btn {
  padding: 10px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.add-to-cart-btn {
  background-color: #ff5722;
  color: #fff;
}

.add-to-cart-btn:hover {
  background-color: #e64a19;
}

.buy-now-btn {
  background-color: #1976d2;
  color: #fff;
}

.buy-now-btn:hover {
  background-color: #0d47a1;
}

.product-loading,
.product-not-found {
  text-align: center;
  font-size: 18px;
  color: #777;
  width: 100%;
}

@media (max-width: 950px) {
  .product-page-card {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .product-left, .product-right {
    width: 100%;
    text-align: center;
  }

  .product-image-main img {
    max-width: 100%;
    max-height: 300px;
  }

  .product-actions {
    justify-content: center;
  }
}
